

body {
    font-family: raleway, sans-serif;
    color: black;
    text-align: center;
}
h1 h2  {
    font-family: raleway, sans-serif;
    color: black;
    border: bold;
    
}
/* navegação */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: bisque;
}
nav > a {
    color: rgb(172, 95, 95);
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-size: 30px;

    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0px;
    width: 100%;
}
nav ul li {
    text-align: center;
    width: 100%;
}
nav ul li a {
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    text-decoration: none;
    color: red;
}
/* cabeçalho */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    text-align: center;
    padding: 40px;
}
header h1 {
    color: brown;
}
header p {
    margin-bottom: 2 rem;
}
/* body */
#tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#procura {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#mais {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}
/* contato*/
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#facilidade {
display: flex;
flex-direction: column;
align-items: center;
padding: 50px;
}
/* footer */
footer {
    text-align: center;
    padding: 15px;
    color: red;
}
@media screen and (min-width: 800px;){

    nav {
        flex-direction: column;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: column; 
        width: 100%;
    }

    header {
        height: 400px;
        height: 50%;
        justify-content: center;
    }
    #tipo {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #tipo div {
        display:flex;
        justify-content: space-around;
        flex-grow: 1;
        flex-basis: 120px;
        padding: 0 35px;
   
    }
    #procura h2 {
        text-align: center;
        width: 100%;
    }
    
    #contato {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 400px;
        margin: 0 auto;
    }


}

 


