@charset "UTF-8";

/*estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    font-family: Arial, Helvetica, sans-serif;
    font: size 1em; 
}
header{
   background-color: lightgrey; 
}
header > h1{
text-align: center;
}
i#menu{
    background-color: aquamarine;
    color: beige;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#menu:hover {
    background-color: white;
    color: black;
}
menu {
    display: none;
}
menu  ul{
    list-style-type: none;
    background-color: grey;}
menu li {
    background-color:  black;
    color:white;
    display: inline-block;
    padding: 10px;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}