@charset "UTF-8";
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Media Query</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="estilos/style.css">
   

<style>
<style>
  * {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: gray;
}
header {
    background-color: lightgray;
}
header > h1 {
  padding: 10px;
  text-align: center;
}
header > h2 {
  padding: 2px;
  text-align: center;
}

material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
i#menu {
  background-color: white;
  color: rgb(37, 23, 5);
  display: block;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}
i#menu:hover {
  background-color: red;
  color: black;

}
menu {
  display: none;

}
menu > ul{
  list-style-type: none;

}
menu  a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(126, 115, 115);
  color: white;
  border-top: 2px solid gray;

} 
menu  a:hover {
 background-color: burlywood;
 }
 main {
    width: 90%;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
 }
  article > h1 {
    padding-bottom: 20px;

  }
  article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
  }

</style>